*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  background-color: brown;
}

#app {
  position: relative;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 10px ridge rgba(55, 55, 54, 0.6);
  background-color: black;
  color: white;
  opacity: 0.3;
  padding: 3em;
}

#map {
  height: 500px;
  width: 80%;
  position: absolute;
  top: 200px;
  left: 200px;
  margin-top: 2em;
}

footer {
  position: fixed;
  bottom: 0;
  min-width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  opacity: 0.4;
  height: 100px;
  border-top: 10px black ridge;
}

.identity {
  display: flex;
  flex-direction: column;
}